<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.java.gbizinfo.importer.mapper.DataMapper">
    <select id="getTimesCheckpointed" resultType="int">
        SELECT COUNT(*)
        FROM import_checkpoint
        WHERE zip_entry_name = #{entryName}
    </select>
    <update id="copy">
        SELECT 1
    </update>
    <insert id="insertCheckpoint">
        INSERT INTO import_checkpoint (zip_entry_name)
        VALUES (#{entryName}) ON CONFLICT DO NOTHING
    </insert>
</mapper>